<div class="card mb-3">             
    <div class="card-body">
        <div class="row" cellspacing="10">
            <div class="col-sm-7" id='barPlotEnhancersAll'>
                <center><b>CpGs associated in enhancers</b></center>
                <div style="overflow-x: auto;" id="barPlotEnhancers">
                    {{ barPlotEnhancers | safe}}
                </div>
            </div>
            <div class="col-sm-5">
                <center>
                    <div class="table-responsive resultsTable">
                        <table class="table table-bordered" id="dataTableEnhancersLite" width="80%" cellspacing="3" style="margin-right:100px;">
                            <thead>
                                <tr>
                                    <th class="titleTable" colspan="2"><span class="table_tooltip" title="Enhancer ID that is associated. For more info about it, click on the enhancer ID. In <i>Methylation</i> you can found the methylation of the CpGs associated that are in each enhancer">Enhancer</span></th>
                                    <th class="titleTable"><span class="table_tooltip" title="Number of associated CpGs inside the enhancer">Associated<br>CpGs</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for field in enhancers %}
                                <tr>
                                    <td class="rowTable">
                                        <a class="ajaxButtonEnhancer" href="#" id="buttonEnhancers{{field.1.enhancerID}}" data-toggle="modal" data-target="#modalEnhancers">
                                            <span>{{ field.1.enhancerID }}</span>
                                            <i class="fas fa-fw fa-info-circle"></i>
                                        </a>
                                        {% include "querySNP/modalEnhancers.html" %}
                                    </td>
                                    <td class="rowTable"><div style="text-align:center;"><button class="btn btn-success btn-sm" onclick="ShowLoading();window.location.href='{{ baseLink }}/plotElement/?element=enhancer;snp={{ snpInfo.snpID}};name={{field.1.enhancerID}};start={{field.1.chromStart}};end={{field.1.chromEnd}}'">Methylation</button></div></td>
                                    <td class="rowTable">{{ field.0 }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </center>
            </div>
        </div>
        <hr>
        <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingTable">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    See full result table
                  </button>
                </h5>
              </div>
          
              <div id="collapseOne" class="collapse" aria-labelledby="headingTable" data-parent="#accordion">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTableRegulation" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="titleTable"> <span class="table_tooltip" title="Enhancer ID that is associated. For more info about it, click on the enhancer ID">Enhancer</span></th>
                                    <th class="titleTable"> <span class="table_tooltip" title="Methylation of the CpGs associated that are in each enhancer">Methylation</span></th>
                                    <th class="titleTable"> <span class="table_tooltip" title="Chromosome">chrom</span></th>
                                    <th class="titleTable"> <span class="table_tooltip" title="Start coordinate of the enhancer">chromStart</span></th>
                                    <th class="titleTable"> <span class="table_tooltip" title="End coordinate of the enhancer">chromEnd</span></th>
                                    <th class="titleTable"> <span class="table_tooltip" title="Number of CpGs that are associated in each enhancer">Associated CpGs</span></th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for field in enhancers %}
                                <tr>
                                    <td class="rowTable">
                                        <a class="ajaxButtonEnhancer" href="#" id="buttonEnhancers{{field.1.enhancerID}}" data-toggle="modal" data-target="#modalEnhancers">
                                            <span>{{ field.1.enhancerID }}</span>
                                            <i class="fas fa-fw fa-info-circle"></i>
                                        </a>
                                        {% include "querySNP/modalEnhancers.html" %}
                                    </td>
                                    <td class="rowTable"><button class="btn btn-success btn-sm" onclick="ShowLoading();window.location.href='{{ baseLink }}/plotElement/?element=enhancer;snp={{ snpInfo.snpID}};name={{field.1.enhancerID}};start={{field.1.chromStart}};end={{field.1.chromEnd}}'">Methylation</button></td>
                                    <td class="rowTable">{{ field.1.chrom }}</td>
                                    <td class="rowTable">{{ field.1.chromStart }}</td>
                                    <td class="rowTable">{{ field.1.chromEnd }}</td>
                                    <td class="rowTable">{{ field.0 }}</td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
              </div>
            </div>
            
        </div>

    </div>
</div>
