<div class="card mb-3">             
    <div class="card-body">
        <div class="table-responsive">
            In this table...

            IMP -> LIMITADO A 20
            <hr>
            <table class="table table-bordered" id="dataTableRegulation" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Gene ID</th>
                        <th>Num. Associated CpGs in its enhancers</th>
                    </tr>
                </thead>
                <tbody>
                    {% for field in enhancers %}
                    <tr>
                        <td><a href="{{ baseLink }}{{ field.geneID }}">{{ field.geneID }}</a></td>
                        <td>{{ field.numOverlaps}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
