<div class="card mb-3">             
    <div class="card-body">
        <div class="row" cellspacing="10">
            <div class="col-sm-7">
                <center><b>CpGs associated in enhancers</b></center>
                <div style="overflow-x: auto;">
                    {{ barPlotEnhancers | safe}}
                </div>
            </div>
            <div class="col-sm-5">
                <center>
                    <br>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTableEnhancersLite" width="80%" cellspacing="3" style="margin-right:100px;">
                            <thead>
                                <tr>
                                    <th colspan="2">Enhancer</th>
                                    <th>Associated<br>CpGs</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for field in enhancers %}
                                <tr>
                                    <td><div class="row" style="margin-left:20px;text-align:center;vertical-align:middle;">{{ field.1.enhancerID }}{% include "querySNP/modalEnhancers.html" %}</div></td>
                                    <td><div style="text-align:center;"><button class="btn btn-success btn-sm" onclick="ShowLoading();window.location.href='{{ baseLink }}/plotElement/?element=enhancer;snp={{ snpInfo.snpID}};name={{field.1.enhancerID}};start={{field.1.chromStart}};end={{field.1.chromEnd}}'">See Meth</button></div></td>
                                    <td>{{ field.0 }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </center>
            </div>
        </div>
        <br>
        <hr>
        <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingTable">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    See table with results
                  </button>
                </h5>
              </div>
          
              <div id="collapseOne" class="collapse" aria-labelledby="headingTable" data-parent="#accordion">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTableRegulation" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Enhancer ID</th>
                                    <th>chrom</th>
                                    <th>chromStart</th>
                                    <th>chromEnd</th>
                                    <th>Genes</th>
                                    <th>Num. Associated CpGs</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for field in enhancers %}
                                <tr>
                                    <td><a href="{{ baseLink }}/plotElement/?element=enhancer;snp={{ snpInfo.snpID}};name={{field.1.enhancerID}};start={{field.1.chromStart}};end={{field.1.chromEnd}}">{{ field.1.enhancerID }}</a></td>
                                    <td>{{ field.1.chrom }}</td>
                                    <td>{{ field.1.chromStart }}</td>
                                    <td>{{ field.1.chromEnd }}</td>
                                    <td>{{ field.1.genesID }}</td>
                                    <td>{{ field.0 }}</td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
              </div>
            </div>
            
        </div>

    </div>
</div>
