{% load errorGestionSNP %}
<div class="card mb-3">
    <div class="card-header">
        <b>Important info</b>
    </div>               
    <div class="card-body">
        <div id="errorGestion">
            {{ error | errorGestionSNP}}
        </div>
        <div id="yourQuery" class="mt-2 mb-2">
            <b>Your Query: </b>{{ snpInfo.snpID }}
        </div>
        <button class="btn btn-success" onclick='window.location.href="{% url 'query' %}#snp"'>New query</button>
    </div>
</div>