<div class="card mb-3"> 
    <div class="card-body">
        <div class="table-responsive">
            In this table...
            <hr>
            <table class="table table-bordered" id="dataTableGenes" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Gene ID</th>
                        <th>Num CpGs</th>
                    </tr>
                </thead>
                <tbody>
                    {% for field in genes %}
                    <tr>
                        <td>{{ field.data.geneID }}</td>
                        <td>{{ field.count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
