<!-- Modal -->
<div class="modal fade" id="modalTLights{{field.1.gene}}" tabindex="-1" role="dialog" aria-labelledby="modalLabelTLights" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabelTLights">{{field.1.gene}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div style="text-align:left;"><b>Description:</b></div><div style="text-align:left;text-transform: capitalize;">{{ field.1.description }}</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>