<div class="card mb-3" >             
    <div class="card-body">
        <div class="row" cellspacing="10">
            <div class="col-sm-7">
                <center><b>CpGs associated in promoters</b></center>
                <div style="overflow-x: auto;" id="barPlotPromoters">
                    {{ barPlotPromoters | safe}}
                </div>
            </div>
            <div class="col-sm-5">  
                <center>
                    <br>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTablePromotersLite" width="80%" cellspacing="3" style="margin-right:100px;">
                            <thead>
                                <tr>
                                    <th colspan="3">Gene</th>
                                    <th>Associated<br>CpGs</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for field in promoters %}
                                <tr>
                                    <td>
                                        <a class="ajaxButtonGene" href="#" id="buttonPromoters{{field.data.geneID}}" data-toggle="modal" data-target="#modalPromoters">
                                            <span>{{ field.data.geneID }}</span>
                                            <i class="fas fa-fw fa-info-circle"></i>
                                        </a>
                                        {% include "querySNP/modalPromoters.html" %}
                                    </td>
                                    <td><div style="text-align:center;"><button class="btn btn-success btn-sm" onclick="ShowLoading();window.location.href='{{ baseLink }}/queryGene/gene/{{ field.data.geneID }}'">Gene</button></div></td>
                                    <td><div style="text-align:center;"><button class="btn btn-success btn-sm" onclick="ShowLoading();window.location.href='{{ baseLink }}/plotElement/?element=promoter;snp={{ snpInfo.snpID}};name={{field.data.geneID}};start={{field.data.chromStartPromoter}};end={{field.data.chromEndPromoter}}'">Methylation</button></div></td>
                                    <td>{{ field.count }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </center>
            </div>
        </div>
        <br><hr>
        <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingTable">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    See full result table
                  </button>
                </h5>
              </div>
          
              <div id="collapseOne" class="collapse" aria-labelledby="headingTable" data-parent="#accordion">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTablePromoters" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Gene</th>
                                    <th>Methylation</th>
                                    <th>chrom</th>
                                    <th>chromStart</th>
                                    <th>chromEnd</th>
                                    <th>Num. Associated CpGs</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for field in promoters %}
                                <tr>
                                    <td>
                                        <a class="ajaxButtonGene" href="#" id="buttonPromoters{{field.data.geneID}}" data-toggle="modal" data-target="#modalPromoters">
                                            <span>{{ field.data.geneID }}</span>
                                            <i class="fas fa-fw fa-info-circle"></i>
                                        </a>
                                        {% include "querySNP/modalPromoters.html" %}
                                    </td>
                                    <td>
                                        <div style="text-align:center;">
                                            <button class="btn btn-success btn-sm" onclick="ShowLoading();window.location.href='{{ baseLink }}/plotElement/?element=promoter;snp={{ snpInfo.snpID}};name={{field.data.geneID}};start={{field.data.chromStartPromoter}};end={{field.data.chromEndPromoter}}'">
                                                Methylation
                                            </button>
                                        </div>
                                    </td>
                                    <td>{{ field.data.chrom }}</td>
                                    <td>{{ field.data.chromStartPromoter }}</td>
                                    <td>{{ field.data.chromEndPromoter }}</td>
                                    <td>{{ field.count }}</td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
              </div>
            </div>
            
        </div>
    </div>
</div>