<div class="card mb-3" >             
    <div class="card-body">
        <div class="row" cellspacing="10">
            <div class="col-sm-7" id="barPlotPromotersAll">
                <center><b>Associated CpGs in promoters</b>
                <div style="overflow-x: auto;" id="barPlotPromoters">
                    {{ barPlotPromoters | safe}}
                </div>
            </center>
            </div>
            <div class="col-sm-5">  
                <center>
                    <div class="table-responsive resultsTable">
                        <table class="table table-hover table-sm" id="dataTablePromotersLite" width="80%" cellspacing="3" style="margin-right:100px;">
                            <thead>
                                <tr>
                                    <th class="titleTable" colspan="2"><span class="table_tooltip" title="Gene ID that is associated by its promoter. For more info about it, click on the gene ID. In <i>Methylation</i> you can found the methylation of the Associated CpGs that are in the promoter of each gene">Gene</span></th>
                                    <th class="titleTable"><span class="table_tooltip" title="Number of associated CpGs inside the promoter of the gene">Associated<br>CpGs</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for field in promoters %}
                                <tr>
                                    <td class="rowTable">
                                        <a class="ajaxButtonGene" href="#" id="buttonPromoters{{field.data.geneID}}" data-toggle="modal" data-target="#modalPromoters">
                                            <span>{{ field.data.geneID }}</span>
                                            <i class="fas fa-fw fa-info-circle"></i>
                                        </a>
                                        {% include "querySNP/modalPromoters.html" %}
                                    </td>
                                    <td class="rowTable"><button class="btn btn-success btn-sm" onclick="ShowLoading();window.location.href='{{ baseLink }}/plotElement/?element=promoter;snp={{ snpInfo.snpID}};name={{field.data.geneID}};start={{field.data.chromStartPromoter}};end={{field.data.chromEndPromoter}}'">Methylation</button></td>
                                    <td class="rowTable">{{ field.count }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </center>
                <!-- <div class="float-right">
                    <button type="button" class="promoterLite_table_copy_btn btn btn-default btn-sm" data-clipboard-target="#dataTablePromotersLite">
                        <i class="fas fa-copy iconTables"></i> Copy table
                    </button>
                </div> -->
            </div>
        </div>
        <hr>
        <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingTable">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    See full result table
                  </button>
                </h5>
              </div>
          
              <div id="collapseOne" class="collapse" aria-labelledby="headingTable" data-parent="#accordion">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-sm" id="dataTablePromoters" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="titleTable"> <span class="table_tooltip" title="Gene ID that is associated by its promoter. For more info about it, click on the gene ID">Gene</span></th>
                                    <th class="titleTable"> <span class="table_tooltip" title="Methylation of the Associated CpGs that are in the promoter of each gene">Methylation</span></th>
                                    <th class="titleTable"> <span class="table_tooltip" title="Chromosome">chrom</span></th>
                                    <th class="titleTable"> <span class="table_tooltip" title="Start coordinate of the promoter">chromStart</span></th>
                                    <th class="titleTable"> <span class="table_tooltip" title="End coordinate of the promoter">chromEnd</span></th>
                                    <th class="titleTable"> <span class="table_tooltip" title="Number of CpGs that are associated inside the promoter of each gene">Associated CpGs</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for field in promoters %}
                                <tr>
                                    <td class="rowTable">
                                        <a class="ajaxButtonGene" href="#" id="buttonPromoters{{field.data.geneID}}" data-toggle="modal" data-target="#modalPromoters">
                                            <span>{{ field.data.geneID }}</span>
                                            <i class="fas fa-fw fa-info-circle"></i>
                                        </a>
                                        {% include "querySNP/modalPromoters.html" %}
                                    </td>
                                    <td class="rowTable">
                                        <div style="text-align:center;">
                                            <button class="btn btn-success btn-sm" onclick="ShowLoading();window.location.href='{{ baseLink }}/plotElement/?element=promoter;snp={{ snpInfo.snpID}};name={{field.data.geneID}};start={{field.data.chromStartPromoter}};end={{field.data.chromEndPromoter}}'">
                                                Methylation
                                            </button>
                                        </div>
                                    </td>
                                    <td class="rowTable">{{ field.data.chrom }}</td>
                                    <td class="rowTable">{{ field.data.chromStartPromoter }}</td>
                                    <td class="rowTable">{{ field.data.chromEndPromoter }}</td>
                                    <td class="rowTable">{{ field.count }}</td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
              </div>
            </div>
            
        </div>
    </div>
</div>