<div class="card mb-3">             
    <div class="card-body">
        <div class="table-responsive">
            In this table...
            <hr>
            <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Enhancer ID</th>
                        <th>Num. Associated CpGs</th>
                        <th>Distance SNP - Enhancer (pb)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for field in enhancers %}
                    <tr>
                        <td>{{ field.data.nameEnhancer}}</td>
                        <td>{{ field.count}}</td>
                        <td>{{ field.distance}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
