<div class="card mb-3" >             
    <div class="card-body">
        <b>ID: </b><a href="https://www.ncbi.nlm.nih.gov/snp/{{snpInfo.snpID}}" target="_blank">{{snpInfo.snpID}}</a>
        <br>
        <b>Position:</b> {{ snpInfo.chrom }}:{{ snpInfo.chromStart }}
        <br>
        <b>Reference Allele: </b> {{ snpInfo.reference }}
        <br>
        <b>Alternative Allele: </b> {{ snpInfo.alternative }}
        <a href='{{ linkFileAssociations }}' download><button>Test</button></a>
    </div>
</div>
