<div class="card mb-3" >             
    <div class="card-body">
        <div id="infoSNP">
            <b>ID: </b><a href="https://www.ncbi.nlm.nih.gov/snp/{{snpInfo.snpID}}" target="_blank">{{snpInfo.snpID}}</a>
            <br>
            <b>Position:</b> {{ snpInfo.chrom }}:{{ snpInfo.chromStart }}
            <br>
            <b>Reference Allele: </b> {{ snpInfo.reference }}
            <br>
            <b>Alternative Allele: </b> {{ snpInfo.alternative }}
            <br><hr>
            <a href='{{ linkFileAssociations }}' download><button class="btn btn-success btn-sm">Download all associations</button></a>
        </div>
        <br><br>
        {% if topResultPromoter or topResultEnhancer %}
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingTopResults">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h4><b>TOP RESULTS</b></h4>
                  </button>
                </h5>
                </div>
          
                <div id="collapseOne" class="collapse show" aria-labelledby="headingTopResults" data-parent="#accordion">
                    <div class="card-body">
                        {% if topResultPromoter %}
                        <h4>CpGs associated in promoters that are Traffic Lights</h4>
                        <hr>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTableTopResults_Promoter" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th colspan="3">Gene</th>
                                        <th>chrom</th>
                                        <th>chromStart Promoter</th>
                                        <th>chromEnd Promoter </th>
                                        <th>num CpGs TLs</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for field in topResultPromoter %}
                                    <tr>
                                        <td>{{ field.1.elementID }}</td>
                                        <td><div style="text-align:center;"><button class="btn btn-success btn-sm" onclick="ShowLoading();window.location.href='{{ baseLink }}/queryGene/gene/{{ field.1.elementID }}'">Gene</button></div></td>
                                        <td><div style="text-align:center;"><button class="btn btn-success btn-sm" onclick="ShowLoading();window.location.href='{{ baseLink }}/plotElement/?element=promoter;snp={{ snpInfo.snpID}};name={{field.1.elementID}};start={{field.1.chromStart}};end={{field.1.chromEnd}}'">Methylation</button></div></td>
                                        <td>{{ field.1.chrom }}</td>
                                        <td>{{ field.1.chromStartElement }}</td>
                                        <td>{{ field.1.chromEndElement }}</td>
                                        <td>{{ field.0 }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endif %}
                        {% if topResultEnhancer %}
                        <br>
                        <h4>CpGs associated in enhancers that are Traffic Lights</h4>
                        <hr>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTableTopResults_Enhancer" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th colspan="2">Enhancer</th>
                                        <th>chrom</th>
                                        <th>chromStart Enhancer</th>
                                        <th>chromEnd Enhancer </th>
                                        <th>num CpGs TLs</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for field in topResultEnhancer %}
                                    <tr>
                                        <td>{{ field.1.elementID }}</td>
                                        <td><div style="text-align:center;"><button class="btn btn-success btn-sm" onclick="ShowLoading();window.location.href='{{ baseLink }}/plotElement/?element=enhancer;snp={{ snpInfo.snpID}};name={{field.1.elementID}};start={{field.1.chromStart}};end={{field.1.chromEnd}}'" onclick="ShowLoading()">Methylation</button></div></td>
                                        <td>{{ field.1.chrom }}</td>
                                        <td>{{ field.1.chromStartElement }}</td>
                                        <td>{{ field.1.chromEndElement }}</td>
                                        <td>{{ field.0 }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div> 
        </div>
        {% endif %}
    </div>
</div>
