<div class="card mb-3" >             
    <div class="card-body">
        <div class="row" cellspacing="10">
            <div class="col-sm-7">
                <center><b>CpGs Associated that are also Traffic Lights</b></center>
                <div style="overflow-x: auto;">
                    {{ barPlotTLights | safe}}
                </div>
            </div>
            <div class="col-sm-5">
                <center>
                    <br>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTableTLightsLite" width="80%" cellspacing="3" style="margin-right:100px;">
                            <thead>
                                <tr>
                                    <th colspan="3">Gene</th>
                                    <th>Associated<br>CpGs that are<br>TLs</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for field in tLights %}
                                <tr>
                                    <td>
                                        <a class="nav-link" href="#modalTLights{{field.1.gene}}" data-toggle="modal" data-target="#modalTLights{{field.1.gene}}">
                                            <span>{{ field.1.gene }}</span>
                                            <i class="fas fa-fw fa-info-circle"></i>
                                        </a>
                                        {% include "querySNP/modaltLights.html" %}
                                    </td>
                                    <td><div style="text-align:center;"><button class="btn btn-success btn-sm" onclick="ShowLoading();window.location.href='{{ baseLink }}/queryGene/gene/{{ field.1.gene }}'">Gene</button></div></td>
                                    <td><div style="text-align:center;"><button class="btn btn-success btn-sm" onclick="ShowLoading();window.location.href='{{ baseLink }}/plotElement/?element=tLight;snp={{ snpInfo.snpID}};name={{field.1.gene}}'">Methylation</button></div></td>
                                    <td>{{ field.0 }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </center>
            </div>
        </div>
    </div>
</div>


<!--<div class="card mb-3">             
    <div class="card-body">
        <div class="table-responsive">
            In this table...
            <hr>
            <table class="table table-bordered" id="dataTableTL" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Gene ID</th>
                        <th>Num. Associated CpGs TLs</th>
                    </tr>
                </thead>
                <tbody>
                    {% for field in tLights %}
                    <tr>
                        <td><a href="{{ baseLink }}{{ field.gene }}">{{ field.gene }}</a></td>
                        <td>{{ field.numOverlaps}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>-->
