<div class="card mb-3">             
    <div class="card-body">
        <div class="table-responsive">
            In this table...
            <hr>
            <table class="table table-bordered" id="dataTableTL" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Gene ID</th>
                        <th>Num. Associated CpGs TLs</th>
                    </tr>
                </thead>
                <tbody>
                    {% for field in tLights %}
                    <tr>
                        <td><a href="/queryGene/gene/{{ field.gene }}">{{ field.gene }}</a></td>
                        <td>{{ field.numOverlaps}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
