<div class="card mb-3" >             
    <div class="card-body">
        <div class="row" cellspacing="10">
            <div class="col-sm-7">
                <center><b>CpGs Associated that are also Traffic Lights</b></center>
                <div style="overflow-x: auto;">
                    {{ barPlotTLights | safe}}
                </div>
            </div>
            <div class="col-sm-5">
                <center>
                    <div class="table-responsive resultsTable">
                        <table class="table table-bordered" id="dataTableTLightsLite" width="80%" cellspacing="3" style="margin-right:100px;">
                            <thead>
                                <tr>
                                    <th class="titleTable" colspan="2"><span class="table_tooltip" title="Gene ID that is associated by its Traffic Lights. For more info about the gene click on the ID. In <i>Methylation</i> you can found the methylation of the CpGs associated that are TLs of the referenced gene">Gene</span></th>
                                    <th class="titleTable"><span class="table_tooltip" title="Number of CpGs associated that are also TLs of the referenced gene">Associated<br>CpGs that are<br>TLs</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for field in tLights %}
                                <tr>
                                    <td class="rowTable">
                                        <a class="ajaxButtonGeneTL" href="#" id="buttonPromoters{{field.1.gene}}" data-toggle="modal" data-target="#modalPromotersTL">
                                            <span>{{ field.1.gene }}</span>
                                            <i class="fas fa-fw fa-info-circle"></i>
                                        </a>
                                        {% include "querySNP/modalPromotersTL.html" %}
                                    </td>
                                    <td class="rowTable"><div style="text-align:center;"><button class="btn btn-success btn-sm" onclick="ShowLoading();window.location.href='{{ baseLink }}/plotElement/?element=tLight;snp={{ snpInfo.snpID}};name={{field.1.gene}}'">Methylation</button></div></td>
                                    <td class="rowTable">{{ field.0 }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </center>
            </div>
        </div>
    </div>
</div>


<!--<div class="card mb-3">             
    <div class="card-body">
        <div class="table-responsive">
            In this table...
            <hr>
            <table class="table table-bordered" id="dataTableTL" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Gene ID</th>
                        <th>Num. Associated CpGs TLs</th>
                    </tr>
                </thead>
                <tbody>
                    {% for field in tLights %}
                    <tr>
                        <td><a href="{{ baseLink }}{{ field.gene }}">{{ field.gene }}</a></td>
                        <td>{{ field.numOverlaps}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>-->
