/* GENERAL */

.resultsPage{
    margin-top:20px;
}
.resultsTable{
    margin-top:20px;
}

.titleTable{
    text-align:center;
}

.rowTable{
    text-align:center;
}

.tabResult{
    margin-top:20px;
}

/* SUMMARY */

#topResults{
    margin-top:20px;
}

/* QUERY GENE */
#barPlotPromotersGene{
    overflow-x: auto;
    width: 100%;
}
#titleBarPlotPromotersGene{
    text-align:center;
}