{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <h1 class="titlePag">ABOUT geno<sup>5</sup>mC</h1>
    <hr>
    <div>
        <p>geno<sup>5</sup>mC is a database and web-server to explore the associations between DNA methylation and the genotype. Using 58 publically available whole genome bisulfite sequencing datasets we determine sequence variation and methylation state at a single cytosine resolution by means of MethylExtract2. Statistically significant associations (FDR <= 0.05) are determined by means of a Fisher Exact test.</p>
        <p>Developed by the <a href="https://bioinfo2.ugr.es">Computational Epigenomics Group</a> at University of Granada</p>

        <p>
        <i>C. Gómez-Martín, E. Aparicio-Puerta, JM. Medina, Guillermo Barturen, JL. Oliver and M. Hackenberg </i>
        geno<sup>5</sup>mC:a database to explore the association between genetic variation (SNPs) and CpG methylation in the human genome
        Journal of Molecular Biology (2020), doi: https://doi.org/10.1016/j.jmb.2020.11.008
        </p>
        
    </div>
{% endblock %}

