{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Cristina Gomez-Martin">
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png'%}">
  <title>geno5mc</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/customStyles/stylesBase.css' %}" rel="stylesheet">
  <link href="{% static 'css/customStyles/myStyles.css' %}" rel="stylesheet">
  {% block css %}{% endblock %}


</head>

<body>

    <div class="d-flex" id="wrapper">
           <!-- Sidebar -->
        <div class="bg-dark" id="sidebar-wrapper">
        <div id="tittleBar">
            <a class="navbar-brand mr-1" href="{% url 'home' %}"><img src="{% static 'images/title_white.png'%}" width="180"></a>
        </div>
        <div class="list-group list-group-flush">
            <a href="{% url 'query' %}" class="list-group-item list-group-item-action bg-light">
                <i class="fas fa-fw fa-cogs"></i>
                <span>Query DB</span>
            </a>
            <a href="{% url 'stats' %}" class="list-group-item list-group-item-action bg-light">
                <i class="fas fa-fw fa-chart-bar"></i>
                <span>Statistics</span>
            </a>
            <a href="{% url 'primaryData' %}" class="list-group-item list-group-item-action bg-light">
                <i class="fas fa-fw fa-database"></i>
                <span>Primary Data</span>
            </a>
            <a href="{% url 'querySNP' %}tour" class="list-group-item list-group-item-action bg-light">
                <i class="fas fa-fw fa-file"></i>
                <span>Tour</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-light">
                <i class="fas fa-fw fa-question"></i>
                <span>About</span>
            </a>
          
        </div>
        </div>
         <!-- /#sidebar-wrapper -->
  
        <!-- Page Content -->
        <div id="page-content-wrapper">
    
            <nav id="topNav" class="navbar navbar-expand navbar-dark bg-dark">
                <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="menu-toggle" href="#">
                    <i class="fas fa-bars"></i>
                </button>
            </nav>  

            <div class="container-fluid">

                <!-- Page Content -->
    
                {% block content %}{% endblock %}
                {% block modals %}{% endblock %}
            </div>


        </div>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  
    <!-- Menu Toggle Script -->
    <script>
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>
  
    <!-- Tour staff -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>
    <script src="{% static 'tour/intro.js' %}"></script>
    
  </body>
  
  </html>