{% extends "base.html" %}

{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <br>
                <h1>geno<sup>5</sup>mC</h1>
                <p>
                    geno5mC is a database and web-server to explore the associations between DNA methylation and the genotype. Using 58 publically available whole genome bisulfite sequencing datasets we determine sequence variation and methylation state at a single cytosine resolution by means of MethylExtract2. Statistically significant associations (FDR <= 0.1) are determined by means of a Fisher Exact test. 
                    <br>
                    The database can be explored in different ways, either by querying one or several SNP IDs or by means of a gene name. 
                </p>
            </div>
        </div>
        <div>
            <form action="{{ baseLink }}/querySNP">
                <input class="btn btn-success btn-sm" type="submit" value="Query SNP" />
            </form>
            <form action="{{ baseLink }}/queryGene">
                <input class="btn btn-success btn-sm" type="submit" value="Query Gene" />
            </form>
            <form action="{{ baseLink }}/multipleQuerySNP">
                <input class="btn btn-success btn-sm" type="submit" value="Multiple Query SNP" />
            </form>
        </div>
    </div>
{% endblock %}