{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
<link href="{% static 'css/customStyles/stylesPlot.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}
    <button class="btn btn-light btn-sm buttonBack" onclick="goBack()">Go Back</button>
    <div class="row justify-content-center">
        <div class="titlePlot">
            {% if element == 'promoter' %}
                <h2>Methylation of Associated CpGs in the promoter of <b>{{ name }}</b>
                    <span class="description_tooltip" title="{{ description }}"><i class="fas fa-xs fa-info-circle"></i></span>
                </h2>
            {% elif element == 'tLight' %}
                <h2>Methylation of Associated CpGs that are TLs of <b>{{ name }}</b>
            {% elif element == 'enhancer' %}
                <h2>Methylation of Associated CpGs in <b>{{ name }}</b>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="optionsPlot">
            <button class="btn btn-info btn-sm buttonSpatial" onclick="#">Spatial Distribution</button>
            <button class="btn btn-info btn-sm buttonSpatial" onclick="#">Download Data</button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="plotElement">
            {{ plotElement | safe}}
        </div>
    </div>

    {% endblock %}
{% block js %}
  <!-- Demo scripts for this page-->

<script>
    function goBack() {
      window.history.back();
    }
</script>

<script>
    $(function () {
        $('.description_tooltip').tooltip({ container:'body',placement:'bottom',html:true});
    });

</script>

<script src="{% static 'js/demo/datatables-demo.js'%}"></script>
<script src="{% static 'vendor/datatables/jquery.dataTables.js'%}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.js'%}"></script>

{% endblock %}

