{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
<link href="{% static 'css/customStyles/stylesPlot.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}
    <button class="btn btn-light btn-sm buttonBack" onclick="goBack()">Go Back</button>
    <div class="row justify-content-center">
        <div class="titlePlot">
            {% if element == 'promoter' %}
                <h2>Methylation of Associated CpGs in the promoter of <b>{{ name }}</b>
                    <span class="description_tooltip" title="{{ description }}"><i class="fas fa-xs fa-info-circle"></i></span>
                </h2>
            {% elif element == 'tLight' %}
                <h2>Methylation of Associated CpGs that are TLs of <b>{{ name }}</b>
            {% elif element == 'enhancer' %}
                <h2>Methylation of Associated CpGs in <b>{{ name }}</b>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <a class="button-download" href="{{ linkDownload }}" id="buttonDownload" download>                                                        
            <button class="btn btn-info btn-sm font-weight-bold ml-3 mt-1 mb-1 ">Download data</button>
        </a>
    </div>
    <div class="row justify-content-center">
        <div class="plotElement">
            {{ plotElement | safe}}
        </div>
    </div>

    {% endblock %}
{% block js %}

<!-- Demo scripts for this page-->
    
    <!-- Go back button  -->
<script>
    function goBack() {
      window.history.back();
    }
</script>

<!-- Tooltip description   -->

<script>
    $(function () {
        $('.description_tooltip').tooltip({ container:'body',placement:'bottom',html:true});
    });

</script>


{% endblock %}

