{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <h1 class="titlePag">PRIMARY DATA</h1>
    <hr>

    <div class="card mb-3">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTableSamples" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>SRX</th>
                            <th>SRP</th>
                            <th>BioSample</th>
                            <th>Tissue type</th>
                            <th>% methylated CpGs</th>
                            <th>% unMethylated CpGs</th>
                            <th>Variant positions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for field in tableSamples %}
                        <tr>
                            <td><a href='https://www.ncbi.nlm.nih.gov/sra?term={{ field.SRX }}'>{{ field.SRX }}</a></td>
                            <td><a href='https://trace.ncbi.nlm.nih.gov/Traces/sra/?study={{ field.SRP }}'> {{ field.SRP }}</a></td>
                            <td><a href='https://www.ncbi.nlm.nih.gov/biosample/{{ field.bioSample }}'> {{ field.bioSample }} </a></td>
                            <td>{{ field.tissueType }}</td>
                            <td><center>{{ field.percentageMethylatedCpG }}</center></td>
                            <td><center>{{ field.percentageUnMethylatedCpG }}</center></td>
                            <td><center>{{ field.positionsVariation }}</center></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>    
        </div>
    </div>

{% endblock %}
{% block js %}
  <!-- Demo scripts for this page-->

  <!-- This script show an image when is loading-->
<script type="text/javascript">
    function ShowLoading(e) {
        var div = document.createElement('div');
        var img = document.createElement('img');
        img.src = "{% static 'images/wait.svg'%}";
        div.innerHTML = "<b><font color='#194a90' size='2'>Loading results, please be patient</font></b>";
        div.style.cssText = 'position: fixed; top: 20%; left: 40%; z-index: 5000; width: 422px; text-align: center; background: #FFFFFF;';

        div.appendChild(img);
        document.body.appendChild(div);
        return true;
    }
</script>

<!-- This script cancel submit button when the form is loading-->
<script>
    $(document).ready(function () {
        $("#formSNP").submit(function (e) {

            //disable the submit button
            $("#submit_btn").attr("disabled", true);
            $("div.menu-hide").hide()
            //
            return true;
        });
    });

</script>


<!-- This script makes the "Show methylation" button -->

<script>
    function getMethGraph() {
        alert("Test")
    }
</script>

<script src="{% static 'js/demo/datatables-demo.js'%}"></script>
<script src="{% static 'vendor/datatables/jquery.dataTables.js'%}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.js'%}"></script>

{% endblock %}

