{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <br>
                <h1>Query SNP</h1>
                <p>Introduce your data: (eg: rs2845392)</p>
                <form action="{% url 'querySNP' %}" method="post">
                    {% csrf_token %}
                    {% for field in query_form %}
                        <div class='form-group'>
                            <label for="{{ field.name }}">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-success btn-sm">Submit</button>
                </form>
            </div>
        </div>
        <br>
        
        {%if valueSNP and chrom != "None" and chrom != "NoSNP" %}
            <div id="accordion">
                <div class="card mb-3">
                    <div class="card-header" id="headingSummary">
                            <button class="btn" data-toggle="collapse" data-target="#collapseSummary" aria-expanded="true" aria-controls="collapseSummary">
                                <h3>Summary</h3>
                            </button>
                    </div>                
                    <div id="collapseSummary" class="collapse show" aria-labelledby="headingSummary" data-parent="#accordion">
                        <div class="card-body">
                            <b> ID:</b> <a href="https://www.ncbi.nlm.nih.gov/snp/rs1016549{{valueSNP}}" target="_blank">{{valueSNP}}</a>
                            <br>
                            <b> position:</b> {{chrom}}:{{chromStartSNP}}
                            <br>
                            <b> Reference Allele: </b> {{reference}}
                            <br>
                            <b> Alternative Allele: </b> {{alternative}}
                        </div>
                    </div>
                </div>
                
                <div class="card mb-3">
                    <div class="card-header" id="headingGenes">
                            <button class="btn" data-toggle="collapse" data-target="#collapseGenes" aria-expanded="false" aria-controls="collapseGenes">
                                <h3>Genes</h3>
                            </button>
                    </div>                
                    <div id="collapseGenes" class="collapse show" aria-labelledby="headingGenes" data-parent="#accordion">
                        <div class="card-body">
                            <div class="table-responsive">
                                In this table...
                                <hr>
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Gene ID</th>
                                            <th>Num. Associated CpGs in Promoter Region</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Gene ID</th>
                                            <th>Num. Associated CpGs in Promoter Region</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for field in mysqlResponseGenes %}
                                        <tr>
                                            <td>{{ field.geneID}}</td>
                                            <td>{{ field.numCpGs}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header" id="headingRegulation">
                            <button class="btn" data-toggle="collapse" data-target="#collapseRegulation" aria-expanded="false" aria-controls="collapseRegulation">
                                <h3>Regulation Elements</h3>
                            </button>
                    </div>                
                    <div id="collapseRegulation" class="collapse show" aria-labelledby="headingRegulation" data-parent="#accordion">
                        <div class="card-body">
                            <div class="table-responsive">
                                In this table...
                                <hr>
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Enhancer ID</th>
                                            <th>Num. Associated CpGs</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Enhancer ID</th>
                                            <th>Num. Associated CpGs</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for field in mysqlResponseEnhancers %}
                                        <tr>
                                            <td>{{ field.enhancerID}}</td>
                                            <td>{{ field.numCpGs}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header" id="headingAll">
                            <button class="btn" data-toggle="collapse" data-target="#collapseAll" aria-expanded="false" aria-controls="collapseAll">
                                <h3>All associations</h3>
                            </button>
                    </div>                
                    <div id="collapseAll" class="collapse show" aria-labelledby="headingAll" data-parent="#accordion">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>CpG ID</th>
                                            <th>pValue</th>
                                            <th>qValue</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>CpG ID</th>
                                            <th>pValue</th>
                                            <th>qValue</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for field in mysqlResponse %}
                                        <tr>
                                            <td>{{ field.cpgID}}</td>
                                            <td>{{ field.pValue}}</td>
                                            <td>{{ field.qValue}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        {% endif %}

        {%if chrom == "None" %}
            The SNP {{ valueSNP }} is not associated, try a new one.
        {% endif %}
        {%if chrom == "NoSNP" %}
            The introduced value {{ valueSNP }} is not a correct SNP id, try a new one.
        {% endif %}

    </div>
{% endblock %}
{% block js %}
  <!-- Demo scripts for this page-->
  <script src="{% static 'js/demo/datatables-demo.js'%}"></script>
  <script src="{% static 'vendor/datatables/jquery.dataTables.js'%}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.js'%}"></script>
{% endblock %}

