{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
<link href="{% static 'css/customStyles/stylesResults.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="page-wrapper" class="resultsPage">
    {% if error %}
        {% include "queryGene/error.html" %}
    {% endif %}

    {%if not error %}
    <div class="menu-hide" id="menu-hide">        
        {% include "queryGene/summary.html" %}
    </div>
    {% endif %}
    
</div>
    
{% endblock %}
{% block js %}

<!-- Plotly - relayout -->
<script>
    $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
    //  alert("before");
        $('.plotly-graph-div').each(function(i, obj) {
     //alert("in");
        Plotly.relayout( obj.id, { 'xaxis.autorange': true, 'yaxis.autorange': true });
        });
    })
</script>

<!-- Script for modal -->
<script>
    $('.ajaxButtonGTEx').on('click', function (e) {
        $.ajax({
        url: '{% url "ajax_gtex" %}',
        data: {
            "geneCode" : this.id
        },
        dataType: 'json',
        success: function (data) {
            $("#modalGTExExpression").html(data.plot);
        }
        });
    });
</script>
<script>
    
    var plotPromoter = function(e) {
        $("#modalPromoterPlot").html("<img style='display: block;margin: 0 auto;' src='{% static 'images/wait.svg'%}'>");  
        $.ajax({
                url: '{% url "ajax_promoter" %}',
                data: {
                    "promoterVal" : $("#promoterIDs").find('option:selected').attr("name"),
                    "snpID" : $("#snpIDs").val(),
                },
                dataType: 'json',
                success: function (data) {
                    $("#modalPromoterPlot").html(data.plot);
                    $("#infoPromoterSelected").html(data.coordinates);
                    if(data.plot){
                        $("#plotNote").html('Important: CpGs highlighted in red are Associated CpGs');
                    }
                }
            });
    }

    $('.ajaxButtonPromoter').on('click', function (e) {
        plotPromoter();
    });

    $('#promoterIDs').on('change', function (e) {
        var snps = this.value;
        var snps_edited = snps.replace("[", '').replace("]","")
        var array = snps_edited.split(",");
        var text = "<option value='' selected disabled >Select a SNP ID </>";
        for (i = 0; i < array.length; i++) {
            text += "<option>" + array[i].replace("'","").replace("'","") + "</option>";
        }
        $("#snpIDs").html(text);
        $("#modalPromoterPlot").html("");
        $("#plotNote").html("");
    });

    $('#snpIDs').on('change', function (e) {  
       plotPromoter();
    });

</script>

<!-- Script for modal of View More -->
<script>
    $('.ajaxButtonSNP').on('click', function (e) {
        $.ajax({
        url: '{% url "ajax_viewMore" %}',
        data: {
            "snps" : this.id,
            "cpg" : this.name,
            "chrom" : "{{ chrom }}"
        },
        dataType: 'json',
        success: function (data) {
            $("#modalSNP-content").html(data.snps);
            $("#modalSNP-header").html(data.cpg);
        }
        });
    });
    $('.ajaxButtonSNP-TL').on('click', function (e) {
        $.ajax({
        url: '{% url "ajax_viewMore" %}',
        data: {
            "snps" : this.id,
            "cpg" : this.name,
            "chrom": "{{ chrom }}"
        },
        dataType: 'json',
        success: function (data) {
            $("#modalSNPTL-content").html(data.snps);
            $("#modalSNPTL-header").html(data.cpg);
        }
        });
    });
</script>


{% endblock %}

