{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
<link href="{% static 'css/customStyles/stylesResults.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="page-wrapper" class="resultsPage">
    {% if error %}
        {% include "queryGene/error.html" %}
    {% endif %}

    {%if not error %}
    <div class="menu-hide" id="menu-hide">
        {% include "queryGene/summary.html" %}
    </div>
    {% endif %}
    
</div>
    
{% endblock %}
{% block js %}

<!-- Plotly - relayout -->
<script>
    $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
    //  alert("before");
        $('.plotly-graph-div').each(function(i, obj) {
     //alert("in");
        Plotly.relayout( obj.id, { 'xaxis.autorange': true, 'yaxis.autorange': true });
        });
    })
</script>

<!-- Script for modal -->
<script>
    $('.ajaxButtonGTEx').on('click', function (e) {
        $("#modalGTExExpression").html("<img style='display: block;margin: 0 auto;' src='{% static 'images/wait.svg'%}'>")
        $.ajax({
        url: '{% url "ajax_gtex" %}',
        data: {
            "geneCode" : this.id
        },
        dataType: 'json',
        success: function (data) {
            $("#modalGTExExpression").html(data.plot);
        }
        });
    });
</script>
<script>
    
    var plotPromoter = function(e) {
        $("#modalPromoterPlot").html("<img style='display: block;margin: 0 auto;' src='{% static 'images/wait.svg'%}'>");  
        $.ajax({
                url: '{% url "ajax_promoter" %}',
                data: {
                    "promoterID" : $("#promoterIDs").val(),
                },
                dataType: 'json',
                success: function (data) {
                    $("#modalPromoterPlot").html(data.plot);
                }
            });
    }

    $('.ajaxButtonPromoter').on('click', function (e) {
        plotPromoter();
    });


    $('#promoterIDs').on('change', function (e) {  
       plotPromoter();
    });
</script>

{% endblock %}

