{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
<link href="{% static 'css/customStyles/stylesQuery.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="menu-hide" id="menu-hide">
    <h1 class="titlePag"> QUERY DB</h1>
    <hr>
    <ul class="nav nav-tabs" id="tabsQuery" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="snp-tab" data-toggle="tab" href="#snp" role="tab" aria-controls="snp" aria-selected="true">By SNP ID</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="gene-tab" data-toggle="tab" href="#gene" role="tab" aria-controls="gene" aria-selected="false">By Gene ID</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="trait-tab" data-toggle="tab" href="#trait" role="tab" aria-controls="trait" aria-selected="false">By Trait</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="region-tab" data-toggle="tab" href="#region" role="tab" aria-controls="trait" aria-selected="false">By Genomic Region</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="snp" role="tabpanel" aria-labelledby="snp-tab">
            <div class="row">
                <div class="col-4">
                    <div class="card cardQuery">
                        <p class="card-header headerCardQuery" >Introduce a <b>SNP ID</b> to view its associations</p>
                        <p id="errorsFormSNP" class="text-danger text-center ml-2 mr-2 mt-2 font-weight-light"></p>
                        <form action="{% url 'querySNP' %}" method="POST"  id="formSNP" onsubmit="return checkformSNP();" class="formQuery">
                            {% csrf_token %}
                            <div class='form-group'">
                                <input type="text" name="SNPid" maxlength="15" required id="SNPid">
                            </div>
                            <button type="submit" id='submitSNP' class="btn btn-success btn-sm" >Submit</button>
                            <button id="loadExSNP" class="btn btn-info btn-sm">Load Example</button>
                        </form>
                    </div>
                </div>
                <div class="col-6 mt-2 mb-2 ml-2 mr-2">
                    <div class="card">
                        <div class="card-body">
                            <img src="{% static 'images/querySNP.png'%}" class="img-fluid" alt="querySNP">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="gene" role="tabpanel" aria-labelledby="gene-tab">
            <div class="row">
                <div class="col-4">
                    <div class="card cardQuery">
                        <p class="card-header headerCardQuery">Introduce a <b>Gene ID</b> to view its associations</p>
                        <br>
                            <form action="{% url 'queryGene' %}" method="post" id="formGene" onsubmit="return checkformGene()" class="formQuery">
                                {% csrf_token %}
                                {% for field in formGene %}
                                    <div class='form-group'>
                                        {{ field }}
                                    </div>
                                {% endfor %}
                                <button type="submit" id='submitGene' class="btn btn-success btn-sm">Submit</button>
                                <button id="loadExGene" class="btn btn-info btn-sm">Load Example</button>
                            </form>
                    </div>
                </div>
                <div class="col-6 mt-2 mb-2 mr-2 ml-2">
                    <div class="card">
                        <div class="card-body">
                            <img src="{% static 'images/queryGene.png'%}" class="img-fluid">
                        </div>
                    </div>
                </div>    
            </div>
        </div>
        <div class="tab-pane fade" id="trait" role="tabpanel" aria-labelledby="trait-tab">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card cardQuery cardTrait">
                        <p class="card-header headerCardQuery">Select a <b>trait</b> to view its associations</p>
                        <form action="{% url 'queryTrait' %}" method="post" onsubmit="return checkformTrait()" id="formTrait" class="formQuery">
                            {% csrf_token %}
                            <select id="traits" name="traitslist" class="selectpicker" data-live-search="true" form="formTrait">
                                {% for trait in traits %}
                                    <option value="{{trait}}">{{trait}}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" id='submitTrait' class="btn btn-success btn-sm submitTrait">Submit</button>
                        </form>  
                    </div>
                </div>    
                <div class="col-6 mt-2 mb-2 mr-2 ml-2">
                    <div class="card">
                        <div class="card-body">
                            <img src="{% static 'images/queryTrait.png'%}" class="img-fluid">
                        </div>
                    </div>
                </div>      
            </div>
        </div>
        <div class="tab-pane fade" id="region" role="tabpanel" aria-labelledby="region-tab">
            <div class="row">
                <div class="col-6">
                    <div class="card cardQuery cardRegion">
                        <p class="card-header headerCardQuery">Introduce a <b>Genomic Region</b> to view its associations</p>
                        <p id="errorsFormRegion" class="text-danger text-center ml-2 mr-2 mt-2 font-weight-light"></p>
                        <form action="{% url 'queryRegion' %}" method="post" id="formRegion" onsubmit="return checkformRegion();" name = "formRegion" class="formQuery">
                            {% csrf_token %}
                            <select placeholder="chrom" name="chrom" id="chrom" class="chrom_select" onchange='changeChrom()' required>
                                <option value ="" selected disabled>chrom</option>
                                {% for chrom in chroms %}
                                    <option value="{{ chrom.chrom }}_{{ chrom.length }}">{{ chrom.chrom }}</option>
                                {% endfor %}
                            </select>
                            <input id="chromStart" type="number" name="chromStart" class="chromStart_select" placeholder="chromStart" min="1" required>
                            -
                            <input id="chromEnd" type="number" name="chromEnd" class="chromStart_select" placeholder="chromEnd" min="1" required>
                            <div class="mt-2">
                                <button type="submit" id='submitRegion' class="btn btn-success btn-sm">Submit</button>
                                <button id="loadExRegion" class="btn btn-info btn-sm">Load Example</button>
                                <button type="reset" class="btn btn-secondary btn-sm">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-6 mt-2 mb-2 mr-2 ml-2">
                    <div class="card">
                        <div class="card-body">
                            <img src="{% static 'images/queryRegion.png'%}" class="img-fluid">
                        </div>
                    </div>
                </div> 
        </div>
    </div>
    </div>
</div>
{% endblock %}

{% block js %}
<!-- This script enables link to tabs-->
<script>

    // Javascript to enable link to tab
    var url = document.location.toString();
    if (url.match('#')) {
        $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
    }
    
    // Change hash for page-reload
    $('.nav-tabs a').on('shown.bs.tab', function (e) {
        window.location.hash = e.target.hash;
    })

    $(document).ready(function()
    {
        $("#loadpage").hide();
        $('#divPageContent').css("visibility", "visible");
    });
  
</script>

<!-- This script charge the example on SNP tab -->
<script>
    $(document).ready(function(){

        $('#loadExSNP').on('click', function(){
            $('#SNPid').val("rs727563");
            return false;
        });

        $('#loadExGene').on('click', function(){
            $('#id_GeneId').val("CYTH4");
            return false;
        });

        $('#loadExRegion').on('click', function(){
            $('#chromStart').val("37282450");
            $('#chromEnd').val("37282550");
            document.getElementById('chrom').value='chr22_50818468';
            // document.getElementById("chrom").setAttribute("value","chr1");
            return false;
        });

       });
</script>

<script>
    function changeChrom(e){
        var chrom = document.getElementById("chrom").value;
        var chromEnd = chrom.split("_")[1];
        document.getElementById("chromEnd").setAttribute("max",chromEnd)
    }
</script>

<script>
    function checkformRegion()    {        
        var myForm = document.formRegion;
        if((myForm.chromEnd.value-myForm.chromStart.value)>10000){
            var newEnd = parseInt(myForm.chromStart.value, 10) + 10000;
            document.getElementById("errorsFormRegion").innerHTML = "Your query has more than the maximum of 10kb ("+(myForm.chromEnd.value-myForm.chromStart.value)+"pb), chromEnd has been changed to "+(newEnd);
            myForm.chromEnd.value = newEnd
            return false
        }
        else if (myForm.chromEnd.value<myForm.chromStart.value){
            var newEnd = myForm.chromStart.value
            myForm.chromStart.value = myForm.chromEnd.value
            myForm.chromEnd.value = newEnd
            document.getElementById("errorsFormRegion").innerHTML = "Your chromStart coordinate ("+myForm.chromStart.value+") is higher than the chromEnd coordinate ("+myForm.chromEnd.value+"), it has been interchanged, please submit again.";
            return false
        }
        else{
            ShowLoading();
            $("div.menu-hide").hide();
            return true
        }
        
    }

    function checkformSNP(){
        var snpID = document.getElementById('SNPid').value;
        var regex = new RegExp("rs[0-9]{1,15}");
        var test = regex.test(snpID);
        if (test == true) {
            ShowLoading();
            $("div.menu-hide").hide();
            return true
        }
        else{
            document.getElementById("errorsFormSNP").innerHTML="The provided ID is not a valid SNP ID, please try a new one";
            return false
        }
    }

    function checkformGene(){
        ShowLoading();
        $("div.menu-hide").hide();
        return true
    }

    function checkformTrait(){
        ShowLoading();
        $("div.menu-hide").hide();
        return true   
    }
</script>

{% endblock %}