{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="card" style="width: 18rem;">
                    <div class="card-header"><center><h3><b>Query a SNP</b></h3></center></div>
                    <div class="card-body">
                       <form action="{% url 'querySNP' %}" method="POST" onsubmit="ShowLoading()" id="formSNP">
                            {% csrf_token %}
                            {% for field in query_form %}
                                <div class='form-group'>
                                    <label for="{{ field.name }}">{{ field.label }}</label>
                                    {{ field }}
                                </div>
                            {% endfor %}
                            <button type="submit" id='submit_btn' class="btn btn-success btn-sm" >Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br>

        {% if error %}
            {% include "querySNP/error.html" %}
        {% endif %}
        
        {% if associations %}
        <div class="menu-hide">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="summary-tab" data-toggle="tab" href="#summary" role="tab" aria-controls="summary" aria-selected="true"><h5>Summary</h5></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="topResults-tab" data-toggle="tab" href="#topResults" role="tab" aria-controls="topResults" aria-selected="false"><h5>Top Results</h5></a>
                </li>
                {% if promoters %}
                <li class="nav-item">
                    <a class="nav-link" id="promoters-tab" data-toggle="tab" href="#promoters" role="tab" aria-controls="promoters" aria-selected="false"><h5>Promoters</h5></a>
                </li>
                {% endif %}
                {% if enhancers %}
                <li class="nav-item">
                    <a class="nav-link" id="enhancers-tab" data-toggle="tab" href="#enhancers" role="tab" aria-controls="enhancers" aria-selected="false"><h5>Enhancers</h5></a>
                </li>
                {% endif %}
                {% if tLights %}
                <li class="nav-item">
                    <a class="nav-link" id="tLights-tab" data-toggle="tab" href="#tLights" role="tab" aria-controls="tLights" aria-selected="false"><h5>Traffic Lights</h5></a>
                </li>
                {% endif %}
            </ul>
    
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="summary" role="tabpanel" aria-labelledby="summary-tab">
                    <br>
                    {% include "querySNP/summary.html" %}
                </div>
                <div class="tab-pane fade" id="topResults" role="tabpanel" aria-labelledby="topResults-tab">
                    <br>
                    {% include "querySNP/topResults.html" %}
                </div>
                <div class="tab-pane fade" id="promoters" role="tabpanel" aria-labelledby="promoters-tab">
                    <br>
                    {% include "querySNP/promoters.html" %}
                </div>
                <div class="tab-pane fade" id="enhancers" role="tabpanel" aria-labelledby="enhancers-tab">
                    <br>
                    {% include "querySNP/enhancers.html" %}
                </div>
                <div class="tab-pane fade" id="tLights" role="tabpanel" aria-labelledby="tLights-tab">
                    <br>
                    {% include "querySNP/trafficLights.html" %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
{% block js %}

  <!-- Demo scripts for this page-->

<!-- This script enables link to tabs-->
<script>

    // Javascript to enable link to tab
    var url = document.location.toString();
    if (url.match('#')) {
        $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
    }
    
    // Change hash for page-reload
    $('.nav-tabs a').on('shown.bs.tab', function (e) {
        window.location.hash = e.target.hash;
    })

    $(document).ready(function()
    {
        $("#loadpage").hide();
        $('#divPageContent').css("visibility", "visible");
    });
  
</script>

<!-- Plotly - relayout -->
<script>
    $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
    //  alert("before");
        $('.plotly-graph-div').each(function(i, obj) {
     //alert("in");
        Plotly.relayout( obj.id, { 'xaxis.autorange': true, 'yaxis.autorange': true });
        });
    })
</script>

<!-- This script show an image when is loading-->
<script type="text/javascript">
    function ShowLoading(e) {
        var div = document.createElement('div');
        var img = document.createElement('img');
        img.src = "{% static 'images/wait.svg'%}";
        div.innerHTML = "<b><font color='#194a90' size='2'>Loading results, please be patient</font></b>";
        div.style.cssText = 'position: fixed; top: 20%; left: 40%; z-index: 5000; width: 422px; text-align: center; background: #FFFFFF;';

        div.appendChild(img);
        document.body.appendChild(div);
        return true;
    }
</script>

<!-- This script cancel submit button when the form is loading-->
<script>
    $(document).ready(function () {
        $("#formSNP").submit(function (e) {

            //disable the submit button
            $("#submit_btn").attr("disabled", true);
            $("div.menu-hide").hide()
            //
            return true;
        });
    });

</script>


<!-- This script makes the "Show methylation" button -->

<script>
    function getMethGraph() {
        alert("Test")
    }
</script>

<script src="{% static 'js/demo/datatables-demo.js'%}"></script>
<script src="{% static 'vendor/datatables/jquery.dataTables.js'%}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.js'%}"></script>


{% endblock %}

