{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div id="page-wrapper">
    <br>
    <div class="row">
        <div class="col-lg-6">
            <button class="btn btn-success btn-sm" onclick="goBack()" >Go Back</button>
        </div>
        <div class="col-lg-4" style="text-align:center">
            <h4>Your have queried the gene {{ geneId }}</h4>
        </div>
    </div>
    <br><br>
    
    {% if error %}
        {% include "queryGene/error.html" %}
    {% endif %}

    {%if promotersAssociated or enhancersAssociated or tLightsAssociated %}
    <div class="menu-hide">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="summary-tab" data-toggle="tab" href="#summary" role="tab" aria-controls="summary" aria-selected="true"><h5>Summary</h5></a>
            </li>
            {% if promotersAssociated %}
            <li class="nav-item">
                <a class="nav-link" id="promoters-tab" data-toggle="tab" href="#promoters" role="tab" aria-controls="promoters" aria-selected="false"><h5>Promoters</h5></a>
            </li>
            {% endif %}
            {% if enhancersAssociated %}
            <li class="nav-item">
                <a class="nav-link" id="enhancers-tab" data-toggle="tab" href="#enhancers" role="tab" aria-controls="enhancers" aria-selected="false"><h5>Enhancers</h5></a>
            </li>
            {% endif %}
            {% if tLightsAssociated %}
            <li class="nav-item">
                <a class="nav-link" id="tLights-tab" data-toggle="tab" href="#tLights" role="tab" aria-controls="tLights" aria-selected="false"><h5>Traffic Lights</h5></a>
            </li>
            {% endif %}
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="summary" role="tabpanel" aria-labelledby="summary-tab">
                <br>
                {% include "queryGene/summary.html" %}
            </div>
            <div class="tab-pane fade" id="promoters" role="tabpanel" aria-labelledby="promoters-tab">
                <br>
                {% include "queryGene/promoters.html" %}
            </div>
            <div class="tab-pane fade" id="enhancers" role="tabpanel" aria-labelledby="enhancers-tab">
                <br>
                {% include "queryGene/enhancers.html" %}
            </div>
            <div class="tab-pane fade" id="tLights" role="tabpanel" aria-labelledby="tLights-tab">
                <br>
                {% include "queryGene/trafficLights.html" %}
            </div>
        </div>
    </div>
    {% endif %}
    
</div>
    
{% endblock %}
{% block js %}
<!-- Demo scripts for this page-->

<!-- This script show an image when is loading-->
<script type="text/javascript">
    function ShowLoading(e) {
        var div = document.createElement('div');
        var img = document.createElement('img');
        img.src = "{% static 'images/wait.svg'%}";
        div.innerHTML = "<b><font color='#194a90' size='2'>Loading results, please be patient</font></b>";
        div.style.cssText = 'position: fixed; top: 20%; left: 40%; z-index: 5000; width: 422px; text-align: center; background: #FFFFFF;';
      
        div.appendChild(img);
        document.body.appendChild(div);
        return true;
    }
</script>
      
<!-- This script cancel submit button when the form is loading-->
<script>
    $(document).ready(function () {
        $("#formGene").submit(function (e) {

            //disable the submit button
            $("#submit_btn").attr("disabled", true);
            $("div.menu-hide").hide()
            //
            return true;
        });
    });

</script>


<!-- This script takes to the back page -->

<script>
    function goBack() {
      window.history.back();
    }
</script>

<script src="{% static 'js/demo/datatables-demo.js'%}"></script>
<script src="{% static 'vendor/datatables/jquery.dataTables.js'%}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.js'%}"></script>
{% endblock %}

