{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
<link href="{% static 'css/customStyles/stylesResults.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div id="page-wrapper" class="resultsPage">
        <!-- <div class="row">
            <div class="col-lg-12">
                <div class="card" style="width: 18rem;">
                    <div class="card-header"><center><h3><b>Query a SNP</b></h3></center></div>
                    <div class="card-body">
                       <form action="{% url 'querySNP' %}" method="POST" onsubmit="ShowLoading()" id="formSNP">
                            {% csrf_token %}
                            {% for field in query_form %}
                                <div class='form-group'>
                                    <label for="{{ field.name }}">{{ field.label }}</label>
                                    {{ field }}
                                </div>
                            {% endfor %}
                            <button type="submit" id='submit_btn' class="btn btn-success btn-sm" >Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div> -->
        {% if error %}
            {% include "querySNP/error.html" %}
        {% endif %}
        
        {% if associations %}
        <div class="menu-hide">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="summary-tab" data-toggle="tab" href="#summary" role="tab" aria-controls="summary" aria-selected="true"><h5>Summary</h5></a>
                </li>
                {% if promoters %}
                <li class="nav-item">
                    <a class="nav-link" id="promoters-tab" data-toggle="tab" href="#promoters" role="tab" aria-controls="promoters" aria-selected="false"><h5>Promoters</h5></a>
                </li>
                {% endif %}
                {% if enhancers %}
                <li class="nav-item">
                    <a class="nav-link" id="enhancers-tab" data-toggle="tab" href="#enhancers" role="tab" aria-controls="enhancers" aria-selected="false"><h5>Enhancers</h5></a>
                </li>
                {% endif %}
                {% if tLights %}
                <li class="nav-item">
                    <a class="nav-link" id="tLights-tab" data-toggle="tab" href="#tLights" role="tab" aria-controls="tLights" aria-selected="false"><h5>Traffic Lights</h5></a>
                </li>
                {% endif %}
                <li class="nav-item ml-auto">
                    <a class="nav-link" id="goBack-tab" href="{% url 'query' %}" role="tab" aria-selected="false"><h5>Back to Query</h5></a>
                </li>
            </ul>
    
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active tabResult" id="summary" role="tabpanel" aria-labelledby="summary-tab">
                    {% include "querySNP/summary.html" %}
                </div>
                {% if promoters %}
                <div class="tab-pane fade tabResult" id="promoters" role="tabpanel" aria-labelledby="promoters-tab">
                    {% include "querySNP/promoters.html" %}
                </div>
                {% endif %}
                {% if enhancers %}
                <div class="tab-pane fade tabResult" id="enhancers" role="tabpanel" aria-labelledby="enhancers-tab">
                    {% include "querySNP/enhancers.html" %}
                </div>
                {% endif %}
                {% if tLights %}
                <div class="tab-pane fade tabResult" id="tLights" role="tabpanel" aria-labelledby="tLights-tab">
                    {% include "querySNP/trafficLights.html" %}
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
{% block js %}

  <!-- Demo scripts for this page-->

<!-- This script enables link to tabs-->
<script>

    // Javascript to enable link to tab
    var url = document.location.toString();
    if (url.match('#')) {
        $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
    }
    
    // Change hash for page-reload
    $('.nav-tabs a').on('shown.bs.tab', function (e) {
        window.location.hash = e.target.hash;
    })

    $(document).ready(function()
    {
        $("#loadpage").hide();
        $('#divPageContent').css("visibility", "visible");
    });
  
</script>

<!-- Plotly - relayout -->
<script>
    $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
    //  alert("before");
        $('.plotly-graph-div').each(function(i, obj) {
     //alert("in");
        Plotly.relayout( obj.id, { 'xaxis.autorange': true, 'yaxis.autorange': true });
        });
    })
</script>

<!-- This script show an image when is loading-->
<script type="text/javascript">
    function ShowLoading(e) {
        $("div.resultsPage").hide();
        var div = document.createElement('div');
        var img = document.createElement('img');
        img.src = "{% static 'images/wait.svg'%}";
        div.innerHTML = "<b><font color='#194a90' size='4'>Loading results, please wait</font></b>";
        div.style.cssText = 'position: fixed; top: 20%; left: 40%; z-index: 5000; width: 422px; text-align: center; background: #FFFFFF;';

        div.appendChild(img);
        document.body.appendChild(div);
        return true;
    }
    
</script>


<!-- This script cancel submit button when the form is loading and hides menu-->
<!-- This script also hides the menu when you press buttons in topResults-->
<script>
    $(document).ready(function () {
        $("#formSNP").submit(function (e) {
            //disable the submit button
            $("#submit_btn").attr("disabled", true);
            $("div.menu-hide").hide()
            //
            return true;
        });
    });

</script>
<script>
    $(function () {
        $('.table_tooltip').tooltip({ container:'body',placement:'left',html:true});
    });

</script>

<script>

    $('.ajaxButtonGene').on('click', function (e) {
            $.ajax({
            url: '{% url "ajax_gene" %}',
            data: {
                "geneID" : this.id
            },
            dataType: 'json',
            success: function (data) {
                $("#modalLabelPromoters").html(data.geneID);
                $("#modalPromotersDescription").html(data.geneDescription);
            }
            });
    });
    $('.ajaxButtonGeneTop').on('click', function (e) {
            $.ajax({
            url: '{% url "ajax_gene" %}',
            data: {
                "geneID" : this.id
            },
            dataType: 'json',
            success: function (data) {
                $("#modalLabelPromotersTop").html(data.geneID);
                $("#modalPromotersDescriptionTop").html(data.geneDescription);
            }
            });
    });
    $('.ajaxButtonGeneTL').on('click', function (e) {
            $.ajax({
            url: '{% url "ajax_gene" %}',
            data: {
                "geneID" : this.id
            },
            dataType: 'json',
            success: function (data) {
                $("#modalLabelPromotersTL").html(data.geneID);
                $("#modalPromotersDescriptionTL").html(data.geneDescription);
            }
            });
    });

</script>

<script>
    $('.ajaxButtonEnhancer').on('click', function (e) {
        $.ajax({
            url: '{% url "ajax_enhancer" %}',
            data: {
                "name" : this.id
            },
            dataType: 'json',
            success: function (dataE) {
                $("#modalLabelEnhancer").html(dataE.enhancerID);
                $("#modalEnhancerDescription").html(dataE.enhancerGenes);
            }
        });
    });
    $('.ajaxButtonEnhancerTop').on('click', function (e) {
        $.ajax({
            url: '{% url "ajax_enhancer" %}',
            data: {
                "name" : this.id
            },
            dataType: 'json',
            success: function (dataE) {
                $("#modalLabelEnhancerTop").html(dataE.enhancerID);
                $("#modalEnhancerDescriptionTop").html(dataE.enhancerGenes);
            }
        });
    });
</script>

<script src="{% static 'js/tooltip.js' %}"></script>

{% endblock %}

