{% extends "base.html" %}
{% load staticfiles %}



{% block content %}
<script type="text/javascript">
    function preLoading(e) {
        var div = document.createElement('div');
        var img = document.createElement('img');
        img.src = "{% static 'images/wait.svg'%}";
        div.innerHTML = "<b><font color='#194a90' size='4'>Loading tour, please wait</font></b>";
        div.style.cssText = 'position: fixed; top: 20%; left: 40%; z-index: 5000; width: 422px; text-align: center; background: #FFFFFF;';
        div.appendChild(img);
        div.setAttribute("id", "div_loading");
        document.body.appendChild(div);
        return true;
    }
    preLoading();
</script>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="card" style="width: 18rem;">
                    <div class="card-header"><center><h3><b>Query a SNP</b></h3></center></div>
                    <div class="card-body">
                       <form action="{% url 'querySNP' %}" method="POST" onsubmit="ShowLoading()" id="formSNP">
                            {% csrf_token %}
                            {% for field in query_form %}
                                <div class='form-group' id="step1">
                                    <label for="{{ field.name }}">{{ field.label }}</label>
                                    {{ field }}
                                </div>
                            {% endfor %}
                            <button type="submit" id='submit_btn' class="btn btn-success btn-sm" disabled="true">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br>

        {% if error %}
            {% include "querySNP/error.html" %}
        {% endif %}
        
        {% if associations %}
        <div class="menu-hide" id="menuToHide" style="display: none;">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="summary-tab" data-toggle="tab" href="#summary" role="tab" aria-controls="summary" aria-selected="true"><h5>Summary</h5></a>
                </li>
                {% if promoters %}
                <li class="nav-item">
                    <a class="nav-link" id="promoters-tab" data-toggle="tab" href="#promoters" role="tab" aria-controls="promoters" aria-selected="false"><h5>Promoters</h5></a>
                </li>
                {% endif %}
                {% if enhancers %}
                <li class="nav-item">
                    <a class="nav-link" id="enhancers-tab" data-toggle="tab" href="#enhancers" role="tab" aria-controls="enhancers" aria-selected="false"><h5>Enhancers</h5></a>
                </li>
                {% endif %}
                {% if tLights %}
                <li class="nav-item">
                    <a class="nav-link" id="tLights-tab" data-toggle="tab" href="#tLights" role="tab" aria-controls="tLights" aria-selected="false"><h5>Traffic Lights</h5></a>
                </li>
                {% endif %}
            </ul>
    
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="summary" role="tabpanel" aria-labelledby="summary-tab">
                    <br>
                    {% include "querySNP/summary.html" %}
                </div>
                <div class="tab-pane fade" id="promoters" role="tabpanel" aria-labelledby="promoters-tab">
                    <br>
                    {% include "querySNP/promoters.html" %}
                </div>
                <div class="tab-pane fade" id="enhancers" role="tabpanel" aria-labelledby="enhancers-tab">
                    <br>
                    {% include "querySNP/enhancers.html" %}
                </div>
                <div class="tab-pane fade" id="tLights" role="tabpanel" aria-labelledby="tLights-tab">
                    <br>
                    {% include "querySNP/trafficLights.html" %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
{% block js %}

<!-- This script show an image when is loading-->
<script type="text/javascript">
    function ShowLoading(e) {
        var div = document.createElement('div');
        var img = document.createElement('img');
        img.src = "{% static 'images/wait.svg'%}";
        div.innerHTML = "<b><font color='#194a90' size='2'>Loading results, please be patient</font></b>";
        div.style.cssText = 'position: fixed; top: 20%; left: 40%; z-index: 5000; width: 422px; text-align: center; background: #FFFFFF;';

        div.appendChild(img);
        document.body.appendChild(div);
        return true;
    }

</script>

  <!--Script for the tour-->

<script>
    var intro = introJs();
    var options_before = {
        steps: [
            { 
                intro: "<center><b>WELCOME TO geno<sup>5</sup>mC</b><br>In this tutorial we will show you how our page works with an example, the SNP <a href='https://www.ebi.ac.uk/gwas/variants/rs727563' target='_blank'>rs727563</a>.</center>"
            },
            { 
                intro: "The SNP <a href='https://www.ebi.ac.uk/gwas/variants/rs727563' target='_blank'>rs727563</a> has . <br><img src='https://www.w3schools.com/tags/smiley.gif' alt='Smiley face' width='42' height='42'></center>"
            },
            {
                element: document.querySelector('#step1'),
                intro: "First, fill the search box with a SNP ID",

            },
            {
                element: document.querySelector('#submit_btn'),
                intro: "Then just press submit to see the results",
                click: true,
                // onbeforechange: function(){
                //     alert("test")
                // }
            },
            {
                element: document.querySelector('#summary-tab'),
                intro: "Summary"
            },
            {
                element: document.querySelector("#promoters-tab"),
                intro: "Summary"
            },
            {
                element: document.querySelector("#enhancers-tab"),
                intro: "Summary"
            },
            {
                element: document.querySelector("#tLights-tab"),
                intro: "Summary"
            },

            {
                intro: "That's the end of the tour"
            }   
        ],
        showStepNumbers:false,
        hideNext:true,
        disableInteraction:false
    };

    intro.setOptions(options_before);

        intro.setOptions(options_before);
        intro.onbeforechange(function () {

        if (intro._currentStep == "3") {
            document.getElementById("id_SNPid").value = "rs727563";
            var submitB = document.getElementById("submit_btn");
            submitB.disabled = false;
        }
        if (intro._currentStep == "4") {
                var hide = document.getElementById("menuToHide");
                hide.style.display = "block";
            }
            if (intro._currentStep == "5") {
                alert("hehe");
                $('[href="#promoters"]').tab('show');
                // $("#promoters-tab").trigger('click')
            }

    });

    intro.start();


    // function startObjectsIntro() {
    //     var intro = introJs();
    //     intro.setOptions(options_before);
    //     .onbeforechange(function () {
    //
    //         if (intro._currentStep == "3"){
    //             var submitB = document.getElementById("submit_btn");
    //             submitB.disabled = false;
    //         }
    //
    //     });
    // }
    // $(document).ready(function(){
    //     startObjectsIntro();
    // });
    //
</script>



<!-- This script enables link to tabs-->
<script>

    // Javascript to enable link to tab
    var url = document.location.toString();
    if (url.match('#')) {
        $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
    }
    
    // Change hash for page-reload
    $('.nav-tabs a').on('shown.bs.tab', function (e) {
        window.location.hash = e.target.hash;
    })

    $(document).ready(function()
    {
        $("#loadpage").hide();
        $('#divPageContent').css("visibility", "visible");
    });
  
</script>

<!-- Plotly - relayout -->
<script>
    $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
    //  alert("before");
        $('.plotly-graph-div').each(function(i, obj) {
     //alert("in");
        Plotly.relayout( obj.id, { 'xaxis.autorange': true, 'yaxis.autorange': true });
        });
    })
</script>



<!-- This script cancel submit button when the form is loading-->
<script>
    $(document).ready(function () {
        $("#formSNP").submit(function (e) {

            //disable the submit button
            $("#submit_btn").attr("disabled", true);
            $("div.menu-hide").hide()
            //
            return true;
        });
    });

</script>



<script src="{% static 'js/demo/datatables-demo.js'%}"></script>
<script src="{% static 'vendor/datatables/jquery.dataTables.js'%}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.js'%}"></script>


<script>
    $(document).ready(function(){
            $("#div_loading").hide();
            })

</script>

{% endblock %}

