{% load errorGestionGene %}
<div class="card mb-3">   
    <div class="card-header">
        <b>Important info</b>
    </div>            
    <div class="card-body">
        <div id="similarGestion" class="mt-3">
            {% if similar %}
                {% if similar == "tooLong" %}
                    {{ geneId}} is not a valid Gene ID, please try a 
                    <button class="btn btn-success" onclick='window.location.href="{% url 'query' %}/#gene"'>New query</button>
                {% else %}
                    Your query "<i>{{ geneId }}</i>" did not produce any match, maybe you meant:
                    {% for item in similar %}
                        <div><a href="{{baseLink}}/queryGene/gene/{{item}}">{{ item }}</a></div>
                    {% endfor %}
                    If not, you can try a <button class="btn btn-success" onclick='window.location.href="{% url 'query' %}/#gene"'>New query</button>
                {% endif %}
            {% else %}
                <b>{{ geneId }}</b>
                <div id="errorGestion">
                    {{ error | errorGestionGene}}
                </div>
                <button class="btn btn-success" onclick='window.location.href="{% url 'query' %}/#gene"'>New query</button>
            {% endif %}

        </div>
    </div>
</div>