<!-- Modal -->
<div class="modal fade" id="modalGTEx" tabindex="-1" role="dialog" aria-labelledby="modalLabelGTEx" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">
            GTEx expression of the gene {{ geneId }}
          </div>
        </div>
        <div class="modal-body">
          <div id="modalGTExExpression"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>