<!-- Modal -->
<div class="modal fade" id="modalTLights" tabindex="-1" role="dialog" aria-labelledby="modalLabelTLights" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">
            <h4>Methylation of the Traffic Lights of {{ geneId }}</h4>
          </div>
        </div>
        <div class="modal-body modalTLightsBody">
          <div class="row font-italic ml-1 mb-2">
              Please select a SNP ID:
          </div>
          <div class="row">
            <div class="col-3">
              <div class="form-group">
                <select class="form-control" id="snpIDSelected">
                  {% for snp,value in snpsSelect.items %}
                    <option value="{{ snp }}"> {{ snp }}</option>
                  {% endfor %}
                </select>         
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div id="modalTLightsPlot" class="plotsOverflow">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>