<!-- Modal -->
<div class="modal fade" id="modalPromoter" tabindex="-1" role="dialog" aria-labelledby="modalLabelPromoter" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">
            <h4>Methylation of the promoters of {{ geneId }}</h4>
          </div>
        </div>
        <div class="modal-body modalPromoterBody">
          <div class="row font-italic ml-1 mb-2">
              Please select a promoter and a SNP ID:
          </div>
          <div class="row">
            <div class="col-3">
              <div class="form-group">
                <select class="form-control" id="promoterIDs">
                  <option value = "" selected disabled>Select promoter</option>
                  {% for promoter,value in promoterIDs.items %}
                    <option value="{{ value }}" name="{{ promoter }}"> {{ promoter }}</option>
                  {% endfor %}
                </select>         
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <select class="form-control" id="snpIDs">
                </select>
              </div>
            </div>
            <div class="col-6" id="infoPromoterSelected">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div id="modalPromoterPlot" class="plotsOverflow">
              </div>
            </div>
          </div>
          <div id="plotNote" class="row font-italic float-right mr-1">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>