{% load staticfiles %}

<div class="card mb-3">
    <div class="card-body">
        <h6 id=titleBarPlotPromotersGene><b>SNPs with CpGs associated in the promoter of {{geneId}}</b></h6>
        <div id="barPlotPromotersGene">
            <center>{{ barPlotPromoters | safe}}</center>
        </div>
    </div>
</div>
        <!-- <div class="table-responsive tableResult">
            <table class="table table-bordered" id="dataTableSNPs" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>SNP ID</th>
                        <th>Num. Associated CpGs in Promoter Region</th>
                        <th>Distance Gene - SNP (pb)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for field in promoters %}
                        <tr>
                            <td><a href="">{{ field.data.snpID}}</a></td>
                            <td>{{ field.count}}</td>
                            <td>{{ field.distance}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>

            </table>

        </div>
    </div>
</div> -->
