{% load staticfiles %}
<div class="card mb-3"> 
    <div class="card-body">
        <div class="table-responsive">
            In this table...
            <hr>
            <table class="table table-bordered" id="dataTableSNPs" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>SNP ID</th>
                        <th>Num. Associated CpGs in Promoter Region</th>
                        <th>Distance Gene - SNP (pb)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for field in genesAssociated %}
                    <tr>
                        <td><a href="{{ field.link}}">{{ field.data.snpID}}</a></td>
                        <td>{{ field.count}}</td>
                        <td>{{ field.distance}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
