<div class="card mb-3"> 
    <div class="card-body">
        <div class="table-responsive">
            In this table...
            <hr>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>SNP ID</th>
                        <th>Num. Associated CpGs in Promoter Region</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>SNP ID</th>
                        <th>Num. Associated CpGs in Promoter Region</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for field in genesAssociated %}
                    <tr>
                        <td>{{ field.data.snpID}}</td>
                        <td>{{ field.count}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
