<div class="card mb-3">             
    <div class="card-body">
        <h2>{{geneId}}</h2>
        {% if description %}
            <div style="text-transform: capitalize;">{{ description }}</div>
        {% endif %}
        <hr> 
        <div class="accordion" id="accordionGenes">
            {% if gTEX %}
            <div class="card">
                <div class="card-header" id="gTEX">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsegTEX" aria-expanded="true" aria-controls="collapsegTEX">
                        <b>Expression on GTEx</b>
                      </button>
                    </h5>
                </div>
                <div id="collapsegTEX" class="collapse show" aria-labelledby="headinggTEX" data-parent="#accordiongTEX">
                    <div class="card-body">
                        {{gTEX|safe}}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
