<div class="accordion" id="accordionGenes">
    <div class="card">
        <div class="card-header" id="summary">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSummary" aria-expanded="true" aria-controls="collapseSummary">
                    <b><h6>Summary</h6></b>
                </button>
            </h5>
        </div>
      
        <div id="collapseSummary" class="collapse show" aria-labelledby="headingSummary" data-parent="#accordionGenes">
            <div class="card-body">
                Summary of genes info
            </div>
        </div>

    </div>

    {% if genes %}
        <div class="card">
            <div class="card-header" id="promoters">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsePromoters" aria-expanded="false" aria-controls="collapsePromoters">
                        <b><h6>Promoters</h6></b>
                    </button>
                </h5>
            </div>
            <div id="collapsePromoters" class="collapse" aria-labelledby="headingPromoters" data-parent="#accordionGenes">
                <div class="card-body">
                    {% include "multipleQuerySNP/promoters.html" %}
                </div>    
            </div>
        </div>
    {% endif %}

    {% if enhancers %}
        <div class="card">
            <div class="card-header" id="enhancers">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEnhancers" aria-expanded="false" aria-controls="collapseEnhancers">
                        <b><h6>Enhancers</h6></b>
                    </button>
                </h5>
            </div>
            <div id="collapseEnhancers" class="collapse" aria-labelledby="headingEnhancers" data-parent="#accordionGenes">
                <div class="card-body">
                    {% include "multipleQuerySNP/regulatory.html" %}
                </div>
            </div>
        </div> 
    {% endif %}   
    {% if tLights %}
        <div class="card">
            <div class="card-header" id="tLights">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsetLights" aria-expanded="false" aria-controls="collapsetLights">
                        <b><h6>Traffic Lights</h6></b>
                    </button>
                </h5>
            </div>
            <div id="collapsetLights" class="collapse" aria-labelledby="headingtLights" data-parent="#accordionGenes">
                <div class="card-body">
                    {% include "multipleQuerySNP/trafficLights.html" %}
                </div>
            </div>
        </div>
    {% endif %}
</div>

