<div class="table-responsive">
    In this table...
    <hr>
    <table class="table table-bordered" id="dataTableGenesMQ" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>SNP ID</th>
                <th>Gene ID</th>
                <th>Num CpGs</th>
                <th>Distance SNP - Promoter (pb) </th>
            </tr>
        </thead>
        <tbody>
            {% for snp in genes %}
                {% for field in snp %}
                <tr>
                    <td><a href="{{ baseLinkSNP }}{{ field.data.snpID }}">{{ field.data.snpID }}</a></td>
                    <td><a href="{{ baseLinkGene }}{{ field.data.geneID }}">{{ field.data.geneID }}</a></td>
                    <td>{{ field.count }}</td>
                    <td>{{ field.distance }}</td>
                </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>