<div class="card mb-3">             
    <div class="card-body">
        <div class="table-responsive">
            In this table...
            <hr>
            <table class="table table-bordered" id="dataTableTLMQ" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>SNP ID</th>
                        <th>Gene ID</th>
                        <th>Num. Associated CpGs TLs</th>
                    </tr>
                </thead>
                <tbody>
                    {% for snp in tLights %}
                        {% for field in snp %}
                        <tr>
                            <td>{{ field.snpID}}</td>
                            <td>{{ field.gene}}</td>
                            <td>{{ field.numOverlaps}}</td>
                        </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
