{% load staticfiles %}
<!-- Modal -->
<div class="modal fade" id="modalRegionSNPPlot" tabindex="-1" role="dialog" aria-labelledby="modalLabelRegionSNPPlot" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">
            <h3>Methylation of {{ region }} by SNP</h3>
          </div>
        </div>
        <div class="modal-body">
          <div class="row font-italic ml-1 mb-2">
            Please select a SNP ID:
          </div>
          <div class="row">
            <div class="col-3">
              <div class="form-group">
                <select class="form-control" id="snpIDSelected">
                  {% for snp,value in snpsSelect.items %}
                    <option value="{{ snp }}"> {{ snp }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <div id="modalRegionSNPPlot-content" class="plotsOverflow">
          </div>
          <div id="plotNote" class="row font-italic float-right mr-1">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>