{% load staticfiles %}
<!-- Modal -->
<div class="modal fade" id="modalRegionPlot" tabindex="-1" role="dialog" aria-labelledby="modalLabelRegionPlot" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">
            <h3>Methylation of {{ region }}</h3>
          </div>
        </div>
        <div class="modal-body">
          <div id="modalRegionPlot-content plotsOverflow">
            <img style='display: block;margin: 0 auto;' src='{% static 'images/wait.svg'%}'>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>